@page
@model BookStore.Pages.AboutModel
@{
}

<div class="card mb-3 container-lg" style="max-width: 570px;">
  <div class="row no-gutters mt-2 ">
    <div class="col-md-4">
      <img src="/img/Profile.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title sample fn2">Poonyaporn Thommanoon</h5>
        <p class="card-text sample fn2">6321602931</p>
        <br/><br/><br/>
        <p class="card-text sample fn2"><small class="text-muted">Business Programming</small></p>
      </div>
    </div>
  </div>
  <div class="row no-gutters mt-2 ">
      <hr />
    <div class="col-md-4">
      <img src="/img/Profile2.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title sample fn2">Sararat Sangsumrit</h5>
        <p class="card-text sample fn2">6321600377</p>
        <br/><br/><br/>
        <p class="card-text sample fn2"><small class="text-muted">Business Programming</small></p>
      </div>
    </div>
  </div>
  <div class="row no-gutters mt-2 ">
      <hr />
    <div class="col-md-4">
      <img src="/img/Profile3.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title sample fn2">Montha Aomngam</h5>
        <p class="card-text sample fn2">6321602965</p>
        <br/><br/><br/>
        <p class="card-text sample fn2"><small class="text-muted">Business Programming</small></p>
      </div>
    </div>
  </div>
</div>

