@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/img/sal.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="/img/sal2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/sal3.png" class="d-block w-100" alt="...">
    < </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <section class="container-fluid text-center ba">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="justify-content-center row gx-5 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/Spy x Family, Vol. 1.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center ">
                                <!-- Product name-->
                                <h5 type="text"  class="fw-bolder">Spy x Family, Vol. 1</h5>
                                <!-- Product price-->
                                <color type="text"class="fw-bolder fn2">400 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top"src="/img/Spy x Family, Vol. 2.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 type="text"  class="fw-bolder">Spy x Family, Vol. 2</h5>
                                <!-- Product price-->
                                <color type="text" class="fw-bolder fn2">390 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/Spy x Family, Vol. 5.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 type="text" class="fw-bolder">Spy x Family, Vol. 5</h5>
                                <!-- Product price-->
                                <color type="text" class="fw-bolder fn2">268 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/Spy x Family.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 type="text" class="fw-bolder">Spy x Family</h5>
                                <!-- Product price-->
                                <color type="text" class="fw-bolder fn2">300 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/Bridgerton  The Duke and I.jpg"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 type="text"  class="fw-bolder">Bridgerton The Duke and I</h5>
                                <!-- Product price-->
                                <color type="text" class="fw-bolder fn2">306 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" " src="/img/Bridgerton An Offer From A Gentleman.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 type="text"  class="fw-bolder">Bridgerton An Offer From A Gentleman</h5>
                                <!-- Product price-->
                                <color type="text" class="fw-bolder fn2">310 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/Bridgerton Romancing Mr Bridgerton.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 type="text"  class="fw-bolder">Bridgerton Romancing Mr Bridgerton</h5>
                                <!-- Product price-->
                                <color type="text" class="fw-bolder fn2">303 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/Bridgerton The Viscount Who Loved Me.jpg" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 type="text" class="fw-bolder">Bridgerton The Viscount Who Loved Me</h5>
                                <!-- Product price-->
                                <color type="text" class="fw-bolder fn2">340 Bath</color>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
